<%= render 'pages/logo' %>
<div class='well'>
	<div class='about'>
		<p>
			Established in 1995 in Newark, Delaware, we are a custom cabinetry and millwork shop. We are members of CMA (Cabinet makers Association). Some of our project lists include: kitchens, offices, libraries, reception desks, vanities, all types of furniture, fireplace surrounds, home theaters, windows, doors and wine cellars, and much more. We are capable of making, matching, repairing, or creating any woodworking project from the finest of antiques to custom chicken coops. Recently we built the windows for the Hobbitt House project, winning the 2007 Paladio Special Award. This window also was featured on the back cover of Fine Homebuilding magazine.
		</p>
		<p>
			As cabinetmakers, we have stepped outside the normal boundaries of wood and often get involved in other mediums. Many times we have custom metal work done for our projects. We have done antique restorations of wooden wagon wheels having the steel tires replaced from a local blacksmith. We have restored and refinished glass rod tables designed by Laloux. We have replaced fret work on Chinese Chippendale Tables, built entire rooms to match an existing antique, and created new furniture to look 300 years old. Several vanities have been designed with glass, stone and metal to look like fine furniture. Many of our projects are based on a particular style or period. Whatever the project, we have the talent, resources and desire to make it successful.
		</p>
		<p>
			Our commitment is focused on excellence. We make every effort to exceed all expectations on all of our projects. Only the finest of workmanship is expected in our shop. From the material we select to the finishes we apply, every project is carefully managed to make sure the customer will be satisfied. 
		</p>
	</div>
</div>