<%= simple_form_for(@album, html: { class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  
    <%= f.input :description %>
    
  
  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
