<div class="hero-unit">
  <h1>Photo Gallery</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Albums</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @albums %>
  </tbody>
</table>
