<div class="box">
	<%= link_to (image_tag photo.image(:medium)), album_photo_path(@album, photo) %>
	<%= photo.description %>
	<%= link_to 'Edit', edit_album_photo_path(@album, photo) %>
	<%= link_to 'Delete', album_photo_path(@album, photo), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>