<div class="row">
    <div class="span6 offset3">
        <div class="well">
            <p>
              <%= @photo.description %>
            </p>
            <p>
							<%= image_tag @photo.image %>
						</p>
            <%= link_to 'Edit', edit_album_photo_path %> |
            <%= link_to 'Back', @album %>
        </div>
    </div>
</div>
