// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header {
	text-align: center;
}

.logo {
    max-width: 940px;
    margin: auto;
}

.about {
    text-align: center;
}

.contact {
    text-align: center;
}

.contact p {
    margin: -4px 0px -4px 0px;
}

#myCarousel {
	max-width: 940px;
	margin: auto;
}

