<div class='footer'>
	<div class='row'>
		<div class='span10'>
			<small>Built by Johnny Rutkowski</small>
		</div>
		<div class='span1'>
			<small><%= link_to ".", new_user_session_path %></small>
		</div>
	</div>
</div>