<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
             <a class="brand" href="/">Home</a>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li>    
                            <%= link_to 'About',  '#' %>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                                <li><%= link_to 'New Album', new_album_path %></li>
                                <% if (@album == nil) %>
                                    <li></li>
                                <% else %>
                                    <li><%= link_to "New Photo", new_album_photo_path(@album) %><li>
                                <% end %>
                                <li><%= link_to 'Login',  '#' %></li>
                    </ul>
                </div>
        </div>
    </div>
</div>